<!--<html>
<head>
  <title>

  </title>
</head>
<body>

<div class="col-md-6 col-md-offset-3">
  <h1>Hi {{currentUser.firstName}}!</h1>
  <p>You're logged in with Angular 5!!</p>
  <h3>All registered users:</h3>
  <ul>
    <li *ngFor="let user of users">
      {{user.username}} ({{user.firstName}} {{user.lastName}})
      - <a (click)="deleteUser(user.id)">Delete</a>
    </li>
  </ul>
  <p><a [routerLink]="['/login']">Logout</a></p>
</div>

</body>
</html>-->




<html>
<head>
</head>
<style type="text/css">
  .navbar-default {
    background-color: rgba(68, 193, 230, 0.84);
  }
  .navbar-default .navbar-nav>li>a {
    color: #efe2e2;
  }
</style>
<body>

<header>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <a class="navbar-brand" href="#!/">My App</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#!/">Home</a>
          </li>
          <li class="dropdown">
            <a href="#!/">Users</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="" data-toggle="modal" data-target="#logoutModal">{{currentUser.username}}</a>
          </li>
          <li>
            <a [routerLink]="['/login']" >Logout</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</header>
</body>
<div class="container">
  <div class="text-center">
   <!-- <h1>Hi {{vm.user.firstName}}!</h1>-->
    <p>You are logged in!!</p>
    <h3>All registered users:</h3>
  </div>

  <div class="tablecontainer">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>User Name</th>
        <th>Role</th>
        <th>Active</th>
        <th>Date Created</th>
        <th>Action</th>
      </tr>
      </thead>

      <tr *ngFor="let user of users">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.userName}}</td>
        <td>{{user.role}}</td>
        <td>{{user.enabled}}</td>
        <td>{{user.dateCreated}}</td>
        <td><a (click)="deleteUser(user.id)">Delete</a></td>
      </tr>
    </table>
  </div>

</div>
</html>
